.startQuiz {
  display: flex;
  padding-bottom: 90px;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background-color: #fafbfe;
  display: flex;
  min-height: 88px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  line-height: 1;
  justify-content: center;
  padding: 16px 48px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 40px 1160px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .headerContent {
    max-width: 100%;
  }
}

.logo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0ea5e9;
  letter-spacing: 0.2px;
  justify-content: start;
  margin: auto 0;
  font: 400 18px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.logoText {
  margin-top: 8px;
}

.logoutButton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #afafaf;
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
  font: 500 12px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .logoutButton {
    white-space: initial;
  }
}

.logoutButtonInner {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 2px solid #afafaf;
}

@media (max-width: 991px) {
  .logoutButtonInner {
    white-space: initial;
    padding: 0 20px;
  }
}

.logoutText {
  align-self: stretch;
  gap: 8px;
}

@media (max-width: 991px) {
  .logoutText {
    white-space: initial;
  }
}

.mainContent {
  border-radius: 8px;
  background: var(--Light-blue-gray-50, #f8fafc);
  align-self: center;
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 1146px;
  flex-direction: column;
  align-items: center;
  font-family: Inter, sans-serif;
  padding: 96px 80px 170px;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    margin-top: 40px;
    padding: 0 20px 100px;
  }
}

.contentWrapper {
  display: flex;
  margin-bottom: -34px;
  width: 631px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .contentWrapper {
    margin-bottom: 10px;
  }
}

.quizImage {
  aspect-ratio: 1.42;
  object-fit: contain;
  object-position: center;
  width: 482px;
  max-width: 100%;
}

.quizTitle {
  color: var(--Light-light-blue-500, #0ea5e9);
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  align-self: stretch;
  margin-top: 48px;
}

@media (max-width: 991px) {
  .quizTitle {
    max-width: 100%;
    margin-top: 40px;
  }
}

.quizDescription {
  color: var(--Light-blue-gray-600, #475569);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
}

@media (max-width: 991px) {
  .quizDescription {
    max-width: 100%;
  }
}

.startButton {
  display: flex;
  margin-top: 32px;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--Light-blue-gray-50, #f8fafc);
  font-weight: 500;
  line-height: 24px;
  justify-content: start;
}

.startButtonInner {
  align-items: center;
  border-radius: 8px;
  background: var(--Light-light-blue-500, #0ea5e9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 16px;
}

.startButtonText {
  align-self: stretch;
  gap: 8px;
}