.loading {
  display: flex;
  padding-bottom: 90px;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background-color: #fafbfe;
  display: flex;
  min-height: 88px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 991px) {
  .headerContent {
    max-width: 100%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0ea5e9;
  letter-spacing: 0.2px;
  font: 400 18px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.logoText {
  margin-top: 8px;
}

.logoutButton {
  border-radius: 8px;
  color: #afafaf;
  font: 500 12px Roboto, sans-serif;
  padding: 12px 24px;
  border: 2px solid #afafaf;
}

@media (max-width: 991px) {
  .logoutButton {
    padding: 12px 20px;
  }
}

.mainContent {
  border-radius: 8px;
  background-color: #f8fafc;
  display: flex;
  margin-top: 48px;
  width: 100%;
  max-width: 1146px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 359px 80px;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    margin-top: 40px;
    padding: 100px 20px;
  }
}

.contentIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 80px;
  margin-bottom: -72px;
}

@media (max-width: 991px) {
  .contentIcon {
    margin-bottom: 10px;
  }
}