.quizContainer {
  font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
}

.header {
  background-color: #fafbfe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 48px;
}

.logo {
  display: flex;
  align-items: center;
  color: #0ea5e9;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.2px;
}

.logoImage {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.logoutButton {
  border: 2px solid #afafaf;
  border-radius: 8px;
  color: #afafaf;
  background: none;
  padding: 12px 24px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}

.quizContent {
  background-color: #f8fafc;
  border-radius: 8px;
  padding: 53px 48px;
  margin-top: 25px;
  max-width: 1146px;
  margin-left: auto;
  margin-right: auto;
}

.questionCard {
  margin-bottom: 32px;
}

.questionMeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.questionCounter {
  background-color: #d2a7b3;
  border-radius: 4px;
  padding: 8px 23px;
  color: #334155;
  font-size: 16px;
  font-weight: 500;
}

.questionNumber {
  display: block;
  color: #f8fafc;
  font-size: 24px;
  margin-top: 4px;
}

.timeLeft {
  background-color: #0ea5e9;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e293b;
  font-size: 24px;
  font-weight: 400;
}

.questionText {
  color: #334155;
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  max-width: 787px;
  margin: 0 auto;
}

.answerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  margin-top: 32px;
}

.answerOption {
  background-color: #ffedd5;
  border-radius: 2px;
  padding: 4px;
}

.answerContent {
  display: flex;
  align-items: center;
}

.optionIndicator {
  display: flex;
  align-items: center;
  gap: 4px;
}

.outerCircle {
  border: 2px solid #ea580c;
  border-radius: 9px;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerCircle {
  background-color: #ea580c;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.optionLine {
  border: 2px solid #ea580c;
  border-radius: 9px;
  width: 42px;
  height: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6px 4px;
}

.lineCircle {
  background-color: #ea580c;
  border-radius: 50%;
  width: 11px;
  height: 11px;
}

.nextButton {
  background-color: #cbd5e1;
  color: #7d7d7d;
  border: none;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 32px;
  float: right;
}

@media (max-width: 991px) {
  .header {
    padding: 16px 20px;
  }

  .quizContent {
    padding: 40px 20px;
  }

  .questionText {
    max-width: 100%;
  }

  .answerGrid {
    grid-template-columns: 1fr;
  }

  .nextButton {
    margin-right: 10px;
  }
}