.loginSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 113px 80px;
  overflow: hidden;
}

.loginContainer {
  border-radius: 8px;
  background-color: var(--Light-blue-gray-50, #f8fafc);
  display: flex;
  width: 100%;
  max-width: 1146px;
  flex-direction: column;
  align-items: center;
  padding: 150px 80px 245px;
}

.loginHeader {
  display: flex;
  align-items: center;
  gap: 40px;
  color: rgba(14, 165, 233, 1);
  letter-spacing: 0.25px;
  font: 400 23px/1 Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
  margin-bottom: 47px;
}

.logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.appTitle {
  margin-top: 10px;
}

.loginForm {
  display: flex;
  width: 100%;
  max-width: 411px;
  flex-direction: column;
  align-items: flex-end;
}

.inputWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  margin-bottom: 14px;
}

.inputLabel {
  color: var(--Grey-100, #7e858e);
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.14px;
  text-transform: uppercase;
}

.inputField {
  border-radius: 12px;
  border: 1px solid var(--Light-Grey-100, #d7dfe9);
  background-color: var(--General-White, #fff);
  margin-top: 8px;
  font-size: 16px;
  color: var(--General-Dark-blue, #171f46);
  font-weight: 400;
  padding: 8px 16px;
}

.showPasswordLabel {
  display: flex;
  margin-top: 16px;
  gap: 7px;
  color: #000;
  font: 400 14px/24px HK Grotesk, -apple-system, Roboto, Helvetica, sans-serif;
}

.showPasswordCheckbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--Light-Grey-100, #d7dfe9);
  background-color: var(--General-White, #fff);
}

.submitButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--Light-light-blue-500, #0ea5e9);
  padding: 8px 16px;
  margin-top: 32px;
  border: none;
  cursor: pointer;
}

.buttonText {
  color: var(--Light-blue-gray-50, #f8fafc);
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.errorMessage {
  color: var(--Light-red-500, #ef4444);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-top: 16px;
  align-self: center;
}

@media (max-width: 991px) {
  .loginSection {
    padding: 100px 20px;
  }

  .loginContainer {
    max-width: 100%;
    padding: 100px 20px;
  }

  .loginHeader {
    margin-bottom: 40px;
  }

  .inputField {
    padding-right: 20px;
  }
}