.header {
  background-color: rgba(250, 251, 254, 1);
  display: flex;
  min-height: 88px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 16px 48px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 991px) {
  .headerContent {
    max-width: 100%;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(14, 165, 233, 1);
  letter-spacing: 0.2px;
  font: 400 18px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.logoText {
  margin-top: 8px;
}

.logoutButton {
  border-radius: 8px;
  border: 2px solid rgba(175, 175, 175, 1);
  color: rgba(175, 175, 175, 1);
  font: 500 12px Roboto, sans-serif;
  padding: 12px 24px;
}

@media (max-width: 991px) {
  .logoutButton {
    padding: 0 20px;
  }
}

.quizContainer {
  border-radius: 8px;
  background-color: var(--Light-blue-gray-50, #f8fafc);
  display: flex;
  margin-top: 25px;
  width: 100%;
  max-width: 1146px;
  flex-direction: column;
  font-family: Inter, sans-serif;
  padding: 53px 48px;
}

@media (max-width: 991px) {
  .quizContainer {
    max-width: 100%;
    padding: 0 20px;
  }
}

.quizHeader {
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .quizHeader {
    max-width: 100%;
  }
}

.questionNumber {
  border-radius: 4px;
  background-color: rgba(210, 167, 179, 1);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 8px 23px;
}

@media (max-width: 991px) {
  .questionNumber {
    padding: 0 20px;
  }
}

.questionLabel {
  color: var(--Light-blue-gray-700, #334155);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 16px;
}

.questionCount {
  color: var(--Light-blue-gray-50, #f8fafc);
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  line-height: 1;
  align-self: start;
  margin-top: 4px;
}

.timer {
  font-feature-settings: "liga" off, "clig" off;
  background-color: rgba(14, 165, 233, 1);
  border-radius: 50%;
  font-size: 24px;
  color: var(--Light-blue-gray-800, #1e293b);
  font-weight: 400;
  line-height: 1;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionText {
  color: var(--Light-blue-gray-700, #334155);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin: 40px 0 0;
}

@media (max-width: 991px) {
  .questionText {
    max-width: 100%;
  }
}

.answerOptions {
  display: flex;
  margin-top: 32px;
  width: 856px;
  max-width: 100%;
  gap: 40px 50px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .answerOptions {
    white-space: initial;
  }
}

.answerOption {
  display: flex;
  gap: 12px;
  color: var(--Light-blue-gray-50, #f8fafc);
  flex-grow: 1;
  flex-basis: auto;
}

@media (max-width: 991px) {
  .answerOption {
    max-width: 100%;
  }
}

.answerButton {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 8px;
  flex-grow: 1;
  width: fit-content;
  padding: 16px 24px;
}

.answerButtonFalse {
  background-color: rgba(28, 148, 75, 1);
}

.answerButtonTrue {
  background-color: var(--Light-blue-gray-300, #cbd5e1);
  color: var(--Light-blue-gray-700, #334155);
}

@media (max-width: 991px) {
  .answerButton {
    padding: 0 20px;
  }
}

.answerIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  margin: auto 0;
}

.nextButton {
  align-self: end;
  border-radius: 4px;
  background-color: var(--Light-light-blue-500, #0ea5e9);
  font-size: 14px;
  color: var(--Light-blue-gray-50, #f8fafc);
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  margin: 408px 96px 0 0;
  padding: 8px 20px;
}

@media (max-width: 991px) {
  .nextButton {
    margin: 40px 10px 0 0;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}