.quizContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-family: Inter, sans-serif;
}

.quizHeader {
  background-color: rgba(250, 251, 254, 1);
  display: flex;
  min-height: 88px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 16px 48px;
}

.logoContainer {
  display: flex;
  align-items: center;
  color: rgba(14, 165, 233, 1);
  letter-spacing: 0.2px;
  font: 400 18px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  width: 24px;
  margin-right: 8px;
}

.logoText {
  margin: 0;
}

.logoutButton {
  border-radius: 8px;
  border: 2px solid rgba(175, 175, 175, 1);
  background: none;
  padding: 12px 24px;
  cursor: pointer;
}

.logoutText {
  color: rgba(175, 175, 175, 1);
  font: 500 12px Roboto, sans-serif;
}

.quizContent {
  border-radius: 8px;
  background-color: rgba(248, 250, 252, 1);
  margin-top: 25px;
  width: 100%;
  max-width: 1146px;
  padding: 53px 48px;
  align-self: center;
}

.progressContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.questionCounter {
  border-radius: 4px;
  background-color: rgba(210, 167, 179, 1);
  padding: 8px 23px;
  text-align: center;
}

.questionLabel {
  color: var(--Light-blue-gray-700, #334155);
  font-size: 16px;
  font-weight: 500;
}

.questionNumber {
  color: var(--Light-blue-gray-50, #f8fafc);
  font-size: 24px;
  line-height: 1;
  display: block;
  margin-top: 4px;
}

.timeLeft {
  font-feature-settings: "liga" off, "clig" off;
  background-color: rgba(14, 165, 233, 1);
  border-radius: 50%;
  font-size: 24px;
  color: var(--Light-blue-gray-800, #1e293b);
  font-weight: 400;
  line-height: 1;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionText {
  color: var(--Light-blue-gray-700, #334155);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font: 500 24px/1 Inter, sans-serif;
  margin-bottom: 32px;
}

.optionsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px 20px;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.defaultOption,
.correctOption,
.incorrectOption {
  font-feature-settings: "liga" off, "clig" off;
  border-radius: 8px;
  width: 100%;
  padding: 16px 24px;
  font: 400 20px/1.6 Inter, sans-serif;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.defaultOption {
  background-color: var(--Light-blue-gray-300, #cbd5e1);
  color: var(--Light-blue-gray-700, #334155);
}

.correctOption {
  background-color: rgba(28, 148, 75, 1);
  color: var(--Light-blue-gray-50, #f8fafc);
}

.incorrectOption {
  background-color: rgba(191, 38, 38, 1);
  color: var(--Light-blue-gray-50, #f8fafc);
}

.correctIcon,
.incorrectIcon {
  aspect-ratio: 1;
  object-fit: contain;
  width: 32px;
}

.nextButton {
  border-radius: 4px;
  background: var(--Light-light-blue-500, #0ea5e9);
  color: var(--Light-blue-gray-50, #f8fafc);
  text-align: center;
  padding: 8px 20px;
  font: 500 14px/24px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  margin-top: 32px;
  float: right;
}

@media (max-width: 991px) {
  .quizHeader {
    padding: 16px 20px;
  }

  .quizContent {
    padding: 40px 20px;
  }

  .optionsGrid {
    grid-template-columns: 1fr;
  }

  .nextButton {
    margin: 40px 10px 0 0;
  }
}