.quizContainer {
  display: flex;
  padding-bottom: 113px;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 991px) {
  .quizContainer {
    padding-bottom: 100px;
  }
}

.header {
  background-color: rgba(250, 251, 254, 1);
  display: flex;
  min-height: 88px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  line-height: 1;
  justify-content: center;
  padding: 16px 48px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 40px 1160px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .headerContent {
    max-width: 100%;
  }
}

.logo {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(14, 165, 233, 1);
  letter-spacing: 0.2px;
  justify-content: start;
  margin: auto 0;
  font:
    400 18px Gilroy-Bold,
    sans-serif;
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.logoText {
  margin-top: 8px;
}

.logoutButton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(175, 175, 175, 1);
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
  font:
    500 12px Roboto,
    sans-serif;
}

@media (max-width: 991px) {
  .logoutButton {
    white-space: initial;
  }
}

.logoutButtonInner {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 2px solid rgba(175, 175, 175, 1);
}

@media (max-width: 991px) {
  .logoutButtonInner {
    white-space: initial;
    padding: 0 20px;
  }
}

.logoutText {
  align-self: stretch;
  gap: 8px;
}

@media (max-width: 991px) {
  .logoutText {
    white-space: initial;
  }
}

.quizContent {
  border-radius: 8px;
  background: var(--Light-blue-gray-50, #f8fafc);
  align-self: center;
  display: flex;
  margin-top: 25px;
  width: 100%;
  max-width: 1146px;
  flex-direction: column;
  font-family: Inter, sans-serif;
  padding: 53px 48px;
}

@media (max-width: 991px) {
  .quizContent {
    max-width: 100%;
    padding: 0 20px;
  }
}

.quizHeader {
  display: flex;
  gap: 20px;
  white-space: nowrap;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .quizHeader {
    max-width: 100%;
    white-space: initial;
  }
}

.questionNumber {
  border-radius: 4px;
  background-color: rgba(210, 167, 179, 1);
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 8px 23px;
}

@media (max-width: 991px) {
  .questionNumber {
    white-space: initial;
    padding: 0 20px;
  }
}

.questionLabel {
  color: var(--Light-blue-gray-700, #334155);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 16px;
}

.questionCount {
  color: var(--Light-blue-gray-50, #f8fafc);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 24px;
  line-height: 1;
  align-self: center;
  margin-top: 4px;
}

.timer {
  font-feature-settings:
    'liga' off,
    'clig' off;
  background-color: rgba(14, 165, 233, 1);
  border-radius: 50%;
  font-size: 24px;
  color: var(--Light-blue-gray-800, #1e293b);
  font-weight: 400;
  line-height: 1;
  width: 48px;
  height: 48px;
  margin: auto 0;
  padding: 0 13px;
}

@media (max-width: 991px) {
  .timer {
    white-space: initial;
  }
}

.questionText {
  color: var(--Light-blue-gray-700, #334155);
  font-feature-settings:
    'liga' off,
    'clig' off;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  align-self: center;
  margin-top: 40px;
  width: 787px;
}

@media (max-width: 991px) {
  .questionText {
    max-width: 100%;
  }
}

.optionsContainer {
  display: flex;
  width: 337px;
  max-width: 100%;
  gap: 16px;
  font-size: 20px;
  color: var(--Light-blue-gray-700, #334155);
  font-weight: 400;
  line-height: 1.6;
  margin: 32px 0 0 98px;
}

@media (max-width: 991px) {
  .optionsContainer {
    margin-left: 10px;
  }
}

.optionsList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  flex-grow: 1;
  flex-basis: 0;
  width: fit-content;
}

.optionItem {
  z-index: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  white-space: nowrap;
  justify-content: start;
  margin-bottom: 8px;
}

@media (max-width: 991px) {
  .optionItem {
    white-space: initial;
  }
}

.optionRadio {
  border-radius: 50%;
  align-self: stretch;
  display: flex;
  width: 20px;
  height: 20px;
  margin: auto 0;
  border: 2px solid rgba(187, 187, 187, 1);
}

.optionText {
  font-feature-settings:
    'liga' off,
    'clig' off;
  align-self: stretch;
  margin: auto 0;
}

.selectedOption {
  background-color: rgba(148, 163, 184, 1);
  border: 3px solid rgba(226, 232, 240, 1);
}

.feedbackIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  position: absolute;
  z-index: 0;
  right: 84px;
  top: 0px;
  height: 32px;
}

.hintIcon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 32px;
  align-self: start;
  margin-top: 40px;
}

.nextButton {
  align-self: end;
  border-radius: 4px;
  background: var(--Light-light-blue-500, #0ea5e9);
  gap: 10px;
  overflow: hidden;
  font-size: 14px;
  color: var(--Light-blue-gray-50, #f8fafc);
  font-weight: 500;
  text-align: center;
  line-height: 24px;
  margin: 248px 96px 0 0;
  padding: 8px 20px;
}

@media (max-width: 991px) {
  .nextButton {
    margin: 40px 10px 0 0;
  }
}
