.congratsPage {
  display: flex;
  padding-bottom: 90px;
  flex-direction: column;
  overflow: hidden;
}

.header {
  background-color: #fafbfe;
  display: flex;
  min-height: 88px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  line-height: 1;
  justify-content: center;
  padding: 16px 48px;
}

@media (max-width: 991px) {
  .header {
    max-width: 100%;
    padding: 0 20px;
  }
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 40px 1160px;
  justify-content: start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .headerContent {
    max-width: 100%;
  }
}

.logoContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0ea5e9;
  letter-spacing: 0.2px;
  justify-content: start;
  margin: auto 0;
  font: 400 18px Gilroy-Bold, -apple-system, Roboto, Helvetica, sans-serif;
}

.logoImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
}

.logoText {
  margin-top: 8px;
}

.logoutButton {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #afafaf;
  white-space: nowrap;
  justify-content: start;
  margin: auto 0;
  font: 500 12px Roboto, sans-serif;
}

@media (max-width: 991px) {
  .logoutButton {
    white-space: initial;
  }
}

.logoutButtonInner {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  border: 2px solid #afafaf;
}

@media (max-width: 991px) {
  .logoutButtonInner {
    white-space: initial;
    padding: 0 20px;
  }
}

.logoutText {
  align-self: stretch;
  gap: 8px;
}

@media (max-width: 991px) {
  .logoutText {
    white-space: initial;
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  min-height: 798px;
  margin-top: 48px;
  width: 100%;
  max-width: 1146px;
  align-items: center;
  font-family: Inter, sans-serif;
  font-weight: 600;
  justify-content: center;
  padding: 137px 80px;
}

@media (max-width: 991px) {
  .mainContent {
    max-width: 100%;
    margin-top: 40px;
    padding: 100px 20px;
  }
}

.backgroundImage {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.congratsContainer {
  position: relative;
  display: flex;
  margin-bottom: -27px;
  width: 387px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 991px) {
  .congratsContainer {
    margin-bottom: 10px;
  }
}

.trophyImage {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 164px;
  max-width: 100%;
}

.congratsTitle {
  color: #334155;
  font-size: 32px;
  margin-top: 48px;
}

@media (max-width: 991px) {
  .congratsTitle {
    margin-top: 40px;
  }
}

.scoreText {
  color: #0ea5e9;
  font-size: 32px;
  text-align: center;
  align-self: stretch;
  margin-top: 16px;
}

.successMessage {
  color: #334155;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-top: 16px;
}

.attemptDetails {
  color: #475569;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 16px;
}

.reportButton {
  align-self: stretch;
  border-radius: 4px;
  background-color: #0ea5e9;
  margin-top: 32px;
  gap: 10px;
  overflow: hidden;
  font-size: 14px;
  color: #f8fafc;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  line-height: 24px;
  padding: 8px 20px;
}

@media (max-width: 991px) {
  .reportButton {
    white-space: initial;
  }
}